$realmPalette = {
  RebeccaPurple: #733DB5,
  OceanBlue: #4D41BB,
  LavenderWeb: #E7E6F7,
  MountainMeadow: #09BC8A,
  BlackChocolate: #0F1108,
  PureBlack: #000000,
  Cloud: #ecf0f1,
  FieryRose: #F45B69,
}